.btn-group-vertical {
    width:100%;
}

.card {
    margin: 1%;
    margin-top: 0;
    width: 100%;
}

.jumbotron {
    margin-top: 1%;
}

.jumbotron h1 {
    text-align:center;
    font-size: 4rem;
}

.justbold {
    font-weight: bold;
}

#firstrow {
    margin-bottom: 1%;
}